<div class="container">
  <div class="user-input">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Nulla odio facere maiores dolores magni est rerum distinctio 
    amet quo exercitationem! Ducimus sequi eligendi perferendis 
    quasi commodi doloremque, cumque totam! Officiis!
  </div>
  <div appCustom>
    <h1>
      Hover me
    </h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Rerum accusantium accusamus, error vel, temporibus, non 
    consequuntur et iusto quidem deleniti modi amet incidunt 
    nemo tempore rem autem veniam nobis voluptas!
  </div>
</div>